<form role="form">
	
	<div class="form-group">
		<label class="control-label" for="national_id"><strong>National ID</strong></label>
		<input type="string" class="form-control" id="NationalId" placeholder="Enter National Identification">
	</div>

	<div class="form-group">
		<label class="control-label" for="first_name"><strong>First Name</strong></label>
		<input type="string" class="form-control" id="FirstName" placeholder="First Name">
	</div>

	<div class="form-group">
		<label class="control-label" for="last_name"><strong>Last Name</strong></label>
		<input type="string" class="form-control" id="LastName" placeholder="Last Name">
	</div>

	<div class="form-group">
		<label class="control-label"><strong>Sex</strong></label>
		<div class="radio">
			<label>
			<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
			Male
			</label>
		</div>
		<div class="radio">
			<label>
			<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
			Female
			</label>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label" for="Age"><strong>Age</strong></label>
		<input type="integer" class="form-control" id="Age">
	</div>

	<div class="form-group">
		<label class="control-label" for="Household"><strong>Household ID</strong></label>
		<input type="integer" class="form-control" id="Household_ID" >
	</div>


<!-- <div class="form-group">
<label class="control-label" for="exampleInputPassword1">Password</label>
<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
<p class="help-block">Lorem ipsum dolor sit amet</p>
</div>
<div class="form-group">
<label class="control-label" for="exampleInputFile">File</label>
<input type="file" id="exampleInputFile">
<p class="help-block">Example block-level help text here.</p>
</div>
<div class="form-group">
<div class="checkbox">
<label>
<input type="checkbox"> Active
</label>
</div>
<p class="help-block">Lorem ipsum dolor sit amet</p>
</div>
<div class="form-group">
<label class="control-label">Choices</label>
<div class="checkbox">
<label>
<input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1" checked>
Option one is this and that&mdash;be sure to include why it's great
</label>
</div>
<div class="checkbox">
<label>
<input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
Option two can be something else and selecting it will deselect option one
</label>
</div>
</div>
<div class="form-group">
<label class="control-label">Sex</label>
<div class="radio">
<label>
<input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
Male
</label>
</div>
<div class="radio">
<label>
<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
Female
</label>
</div>
<p class="help-block">Lorem ipsum dolor sit amet</p>
</div>
<button type="submit" class="btn btn-default">Create User</button> -->
</form>